@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

* {
  box-sizing: border-box;

}
body {
  background-image: image(images/header.png);
  font-family: 'Montserrat';
}

.titulo{
  margin-top: 50px;
  background-color: #f39865;
  width: 550px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
}

.logo {
  margin-left: -40px;
}
 .navbar {
  background-color: #ce6b34;
  overflow: hidden;
}

.card {
  margin-top: 60px;
}

.caja-perfil {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  margin-top: 60px;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  height: auto;
}

.cajita {
  display: flex;
}
.caja-profile {
  margin-left: 60px;
  padding: 10px;
  margin-top: 60px;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  height: auto;
}

.posteos{
  margin-left: 60px;
  padding: 10px;
  margin-top: 60px;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  height: auto;
}

.posteos-home{

  padding: 10px;
  margin-top: 60px;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  width: 80%;
  height: auto;
}

.foto-perfil{
  width: 350px;
  height: 500px;
  position: absolute;
  top: 130px;
  right: 85px;
  border-radius: 15px;
  border: 5px double black;

}

.follow-button {
  position: absolute;
  top: 137px;
  right: 500px;
  font-size: 20px;
  width:150px;
}

.caja-perfil ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.caja-profile li{
  padding-left: 16px;
  margin-bottom: 12px;
}

.caja-perfil li:before{
  content: "►";
  padding-right: 8px;
  color: #ce6b34;
}
.card-header {
  border-top: 1px solid #e28d5e;
  border-left: 1px solid #e28d5e;
  border-right: 1px solid #e28d5e;
  border-bottom: 1px solid #f1ba9c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f1ba9c;
}

.card-body {
  border-bottom: 1px solid #e28d5e;
  border-left: 1px solid #e28d5e;
  border-right: 1px solid #e28d5e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#fondo {
  background-color: rgba(255, 255, 255, 0.75);
  float: left;
  align-items: center;

}


.caja {
  width: 49%;
  height: 420px;
  float: left;
  margin-top: 60px;
  border: 1px solid #f1ba9c;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #f1ba9c;
}

.caja p {
  margin-left: 10px;
  font-size: 15px;
}

.caja h3 {
  text-align: center;
}
.boton {
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  margin-left: 15px;
  height: 30px;
  width: 110px;
}

.boton-buscar {
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.boton:hover {
background: #efd2c2;
color: white;
box-shadow: inset 0 0 0 3px #efd2c2;
}

.boton-buscar:hover {
background: #efd2c2;
color: white;
box-shadow: inset 0 0 0 3px #efd2c2;
}

.boton a {
  font-weight: bold;
  color:#da5912;
}

.boton-form {
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #da5912;
  color: white;
}

.boton-form:hover {
  background: white;
  color: #da5912;
  box-shadow: inset 0 0 0 3px #da5912;
}
footer{
  background-color: #ce6b34;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  justify-content: space-around;
}


ul a {
  color: white;

}

ul a:hover {
  color: #522d19;

}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
  color:black;
  border-radius: 25px;
}

.carrusel {
  margin-top: 60px;
  float: left;
  width: 49%;
  margin-left: 10px;
  max-height: 420px;
}

.menu-logueado {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  margin-left: 5px;;
  justify-content: space-around;
}

.menu-logueado a:hover {
  color: #522d19;
}

.hidden {
  display: none;
}

.form-profile {

}

.input {
  font-size: 15px;
  font-weight: bold;
  color: #ce6b34;
}

.estado {
  height: 80px;
  width: 550px;
  border: 1px solid #d2d1d0;
  border-radius: 5px;
  margin-left: 2px;
}
